:host {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
